name: CI
on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize, reopened ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Maven packages
        uses: actions/cache@v1
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          MAVEN_OPTS: |
            -Xmx1024m
            -Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss,SSS
            -Dorg.slf4j.simpleLogger.showDateTime=true
        run: |
          mvn -B -P qulice clean install
          bash <(curl -s https://codecov.io/bash)
          if [ -n "${{ secrets.SONAR_TOKEN }}" ]; then
            mvn -B -P qulice org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
          fi
          if [ -n "${{ secrets.CODECOV_TOKEN }}" ]; then
            bash <(curl -s https://codecov.io/bash)
          fi
